@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Kamal Purbia's Classes !!</h1>
    <p>Learn about <a href="#">Learn DevOps with me v4</a>.</p>
</div>
